<template>
  <v-app>
    <v-app-bar
      app
      color="white"
      dark
    >
      <div class="d-flex align-center">

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://microsite-tradies-live.hipages.com.au/wp-content/themes/hipages/assets/images/logo.svg"
          width="100"
        />

      </div>

      <v-tabs v-model="currentTab" icons-and-text light>
        <v-tabs-slider></v-tabs-slider>
        <v-tab href="#tab-invited">
          Invited
        </v-tab>
        <v-tab href="#tab-accepted">
          Accepted
        </v-tab>
      </v-tabs>
    </v-app-bar>

    <v-content class="grey lighten-3">
        <v-tabs-items v-model="currentTab">
          <v-tab-item value="tab-invited">
            <v-container class="grey lighten-3" fluid>
              <InvitedLead v-for="lead in invited" :key="lead.id"
                :lead="lead" @accept="accept" @decline="decline" />
            </v-container>
          </v-tab-item>
          <v-tab-item value="tab-accepted">
            <v-container class="grey lighten-3" fluid>
              <AcceptedLead v-for="lead in accepted" :key="lead.id" :lead="lead" />
            </v-container>
          </v-tab-item>
        </v-tabs-items>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import InvitedLead from './components/InvitedLead.vue';
import AcceptedLead from './components/AcceptedLead.vue';
import Lead from './models/Lead';
import LeadsService from './services/LeadsService';

interface ViewModel {
  currentTab: string,
  invited: Lead[],
  accepted: Lead[],
  leadsService: LeadsService,
}

export default Vue.extend({
  name: 'App',

  components: {
    InvitedLead,
    AcceptedLead,
  },
  async created() {
    await this.loadLeads();
  },
  methods: {
    async loadLeads() {
      this.invited = await this.leadsService.getAll('new');
      this.accepted = await this.leadsService.getAll('approved');
    },
    async accept(lead: Lead) {
      this.leadsService.approve(lead);
      this.invited = this.invited.filter(l => l.id !== lead.id);
      this.accepted.push(lead);
    },
    async decline(lead: Lead) {
      this.leadsService.decline(lead);
      this.invited = this.invited.filter(l => l.id !== lead.id);
    },
  },
  data: () : ViewModel => ({
    currentTab: 'tab-invited',
    invited: [],
    accepted: [],
    leadsService: new LeadsService(),
  }),
});
</script>
