<template>
  <v-row>
    <v-col cols="12">
      <v-card class="mx-auto">
        <v-list-item>
          <v-list-item-avatar color="primary white--text headline">
            {{lead.name | initials}}
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title class="title">{{lead.name}}</v-list-item-title>
            <v-list-item-subtitle>{{lead.createdAt | formatDate}}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-card-text class="grey--text">
          <span class="detail">
            <v-icon>{{icons.mapMarker}}</v-icon> {{lead.suburb.name}} {{lead.suburb.postCode}}
          </span>
          <span class="detail">
            <v-icon>{{icons.briefcase}}</v-icon> {{lead.category}}
          </span>
          <span class="detail">
            Job ID: {{lead.id}}
          </span>
          <span class="detail">
            <strong>${{lead.price | formatCurrency}}</strong> Lead Invitation
          </span>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-text class="grey--text">
          <span class="detail">
            <v-icon>{{icons.phone}}</v-icon>
            <span class="detail-text">
              {{lead.phone}}
            </span>
          </span>
          <span class="detail">
            <v-icon>{{icons.email}}</v-icon>
            <span class="detail-text">
              {{lead.email}}
            </span>
          </span>
          <p class="description">
          {{lead.description}}
          </p>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue';
import StringFilters from '../mixins/StringFilters';
import IconsData from '../mixins/IconsData';

export default Vue.extend({
  name: 'AcceptedLead',
  mixins: [StringFilters, IconsData],
  props: {
    lead: {
      type: Object,
      default: () => {},
    },
  },
});
</script>

<style scoped>
  .detail { margin-right: 20px }
  .detail-text { color: #f96f12 }
  .description { margin-top: 20px }
</style>
