<template>
  <v-row>
    <v-col cols="12">
      <v-card class="mx-auto">
        <v-list-item>
          <v-list-item-avatar color="primary white--text headline">
            {{lead.name | initials}}
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title class="title">{{lead.name}}</v-list-item-title>
            <v-list-item-subtitle>{{lead.createdAt | formatDate}}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-card-text class="grey--text">
          <span class="detail">
            <v-icon>{{icons.mapMarker}}</v-icon> {{lead.suburb.name}} {{lead.suburb.postCode}}
          </span>
          <span class="detail">
            <v-icon>{{icons.briefcase}}</v-icon> {{lead.category}}
          </span>
          <span class="detail">
            Job ID: {{lead.id}}
          </span>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-text class="description grey--text">
          {{lead.description}}
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn @click="accept" class="accept-button" color="primary">Accept</v-btn>
          <v-btn @click="decline"  class="decline-button">Decline</v-btn>
            <v-card-text class="grey--text">
              <strong>${{lead.price | formatCurrency}}</strong> Lead Invitation
            </v-card-text>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue';
import StringFilters from '../mixins/StringFilters';
import IconsData from '../mixins/IconsData';

export default Vue.extend({
  name: 'InvitedLead',
  mixins: [StringFilters, IconsData],
  props: {
    lead: {
      type: Object,
      default: () => {},
    },
  },
  methods: {
    accept() {
      this.$emit('accept', this.lead);
    },
    decline() {
      this.$emit('decline', this.lead);
    },
  },
});
</script>

<style scoped>
  .detail { margin-right: 20px }
</style>
